body{
    background-color: rgb(184, 108, 254);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
}

#div_posicao{
    width: 8%;
    display: flex;
    justify-content: flex-end;
    float: left;
    position: absolute;
    top: 30%;
    left:10%;
    background-color: white;
    border-radius: 10px;
}

#div_numeros{
    width: 8%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-items: flex-start;
    top: 30%;
    left: 1%;
    background-color: white;
    border-radius: 10px;
}

table{
    width: 100vw;
    height: 80vh;
    display: flex;
    margin-left: 50px;
    margin-left: 10px;
    justify-content: center;
}

.col-a{
    display: flex;
    flex-direction: column;
}

.container tr td > input{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    margin-top: -4px;
    z-index: 100;
    margin-left: -4px;
    text-transform: uppercase;
    padding-left: 10px;
}

.container {
    width: 100%;
    height: 100%;
}

.container tr {
    padding: 0;
    margin: 0;
}

.errado{
    border:1px solid red;
}

.certo{
    border: 1px solid green;
}

.dicas{
    height: 50vh;
    width: 100vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    margin-top: 15%;
    padding-top: 3%;
}